<footer>
    <div class="uk-position-absolute uk-position-bottom-center">
        {{ 'text_inspired' | trans({'%author%': '<a href="https://twitter.com/ZeKwev/status/1366744669749714948">Kwev</a>'}) | raw }}
        &verbar;
        {{ 'dev_host' | trans({'%dev%':'<a href="https://twitter.com/emilweth">emilweth</a>'}) | raw }}
        &verbar;
        <a href="https://github.com/emilweth/stop-backse.at">Source</a>
    </div>
</footer>