<!DOCTYPE html>
<html lang="{{ app.request.locale }}">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta property="og:title" content="Stop-Backse.at">
    <meta property="og:description" content="{{ 'i_will_never_backseat_again' | trans }}">
    <meta property="og:image" content="https://stop-backse.at/pictures/stop_it.png">
    <meta property="og:url" content="https://stop-backse.at/">
    <title>{% block title %}stop backseat{% endblock %}</title>
    {# Run `composer require symfony/webpack-encore-bundle`
           and uncomment the following Encore helpers to start using Symfony UX #}
    {% block stylesheets %}
        {{ encore_entry_link_tags('app') }}
    {% endblock %}

    {% block javascripts %}
        {{ encore_entry_script_tags('app') }}
    {% endblock %}
</head>
<body data-controller="myswup symfony--ux-swup--swup"
      data-animate-history-browsing="data-animate-history-browsing">

<div class="uk-light wrap uk-background-norepeat uk-background-cover uk-background-center-center uk-cover-container uk-background-secondary">
    <img data-srcset="https://picsum.photos/640/700/?image=1019 640w,
                   https://picsum.photos/960/700/?image=1019 960w,
                   https://picsum.photos/1200/900/?image=1019 1200w,
                   https://picsum.photos/2000/1000/?image=1019 2000w"
         sizes="100vw"
         data-src="https://picsum.photos/1200/900/?image=1019" alt="" data-uk-cover data-uk-img
         src="https://picsum.photos/1200/900/?image=1019">
    <div class="uk-flex uk-flex-center uk-flex-middle uk-height-viewport uk-position-z-index uk-position-relative"
         data-uk-height-viewport="min-height: 400" style="background-color: rgba(0, 0, 0, 0.6);">

        <div id="swup"
                class="uk-container uk-container-small uk-flex-auto uk-text-center"
             data-uk-scrollspy="target: > .animate; cls: uk-animation-slide-bottom-small uk-invisible; delay: 300">
            {% block content %}{% endblock %}
        </div>

        {% block footer %}
            {% include 'elements/footer.html.twig' %}
        {% endblock %}
    </div>
</div>
</body>
</html>
