{% extends 'base.html.twig' %}
{% block content %}
    <main id="swup" class="uk-position-cover uk-light uk-background-secondary">
        <div class="uk-position-center">
            <div class="uk-tile uk-tile-secondary">
                <div class="uk-text-lead">
                    {{ 'caster_asked' | trans }}
                </div>
                <p>
                    {{ 'caster_asked.paragraph_1' | trans }}
                </p>
            </div>
        </div>
    </main>
{% endblock %}